---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";
const pageTitle = "My Blog tags";

---

<BaseLayout pageTitle={pageTitle}>
    <p>Theese are the blog tags</p>

    <Tags />
</BaseLayout>

